.task-table-wrapper {
  display: flex;
  flex-direction: column;
}

.action-container {
  flex: 0 0 auto;
}

.action-filter {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .table-content-wrapper {
    .ant-table-wrapper {
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .action-filter {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .action-filter .ant-select,
  .action-filter .ant-input-search {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .action-container {
    flex-direction: column;
    gap: 8px;
  }

  .action-container button {
    width: 100%;
  }
}

.my-tasks-page {
  height: 100%;

  .main-table {
    flex: 1;
    height: calc(100vh - 165px);

    .table-container,
    .ant-table-wrapper,
    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table-container {
      height: 100%;
    }
    .ant-table-container {
      border: unset !important;
    }
    .ant-table-header {
      border-radius: unset !important;
    }

    .table-container {
      .ant-table {
        height: 100%;
        .ant-table-body {
          max-height: calc(100% - 50px) !important;
          overflow: auto !important;
        }

        .ant-table-thead > tr:first-child > *:first-child {
          border-start-start-radius: 6px;
        }

        .ant-table-thead > tr:first-child > *:last-child {
          border-start-end-radius: 6px;
        }

        .ant-table-tbody > tr:last-child > *:first-child {
          border-end-start-radius: 6px;
        }

        .ant-table-tbody > tr:last-child > *:last-child {
          border-end-end-radius: 6px;
        }

        .ant-table-thead > tr:first-child > *:first-child,
        .ant-table-tbody > tr > *:first-child {
          border-left: 0.5px solid #eef2f4;
        }

        .ant-table-thead > tr th.ant-table-cell-scrollbar {
          display: none;
        }

        .ant-table-thead > tr th,
        .ant-table-tbody > tr td {
          box-sizing: border-box;
          height: calc(0.25rem * 12);
          border-style: solid;
          border-width: 0.5px;
          border-left: 0px;
          border-color: #eef2f4;
          background-color: #fff;
          text-align: center;
          line-height: 1.5;
          white-space: nowrap;
          color: #333;
          border-radius: 0;
          padding: 0 8px;

          &::before {
            all: unset !important;
          }
        }

        .ant-table-tbody > tr td {
          border-top: 0px;
        }

        /* .ant-table-tbody > tr {
          background-color: #fff;
        } */

        .ant-table-tbody > tr.ant-table-striped > td {
          background-color: #fafafa !important;
        }
      }

      & .ant-table {
        height: calc(100% - 55px);
      }
      .ant-pagination {
        position: absolute;
        right: 0;
        bottom: 0;
        /* margin-top: 8px;
        display: flex; */
      }

      .rating-cell {
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;

        .rating-icon {
          color: #faa914;
        }
      }

      .task-item-sm-renderer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2px;
        .title {
          font-size: 16px;
        }

        .content {
          margin: 0;
        }

        > * {
          display: flex;
          align-items: center;
          gap: 4px;
        }

        .rate {
          margin: 3px 0;
        }
      }
    }
  }
}
